body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-bottom: 12px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 35vh;
}
.login-form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 10px 13px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 420px;
    margin: 50px auto;
    text-align: center;
    border-radius: 25px;
    position: relative;
}
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: none;
    font-size: 16px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 95%;
    padding: 15px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
img {
    width: 150px;
    margin-bottom: 20px;
}
.login-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.login-form p {
    font-size: 16px;
    color: #555;
    margin-bottom: 1px;
    margin-top: 10%;
}

a {
    text-decoration: none;
    text-align: left;
    font-size: small;
}

a:hover {
 text-decoration: underline;
}

input[type="submit"]:hover {
    background-color: #0096FF;
}

.submit-btn, input[type="submit"] {
    width: 95%;
    padding: 15px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.submit-btn:hover, input[type="submit"]:hover {
    background-color: #0096FF;
}

#loginform {
    height: 65vh;
}